<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">
	
	<!-- 使用外部的hibernate.cfg.xml配置信息 -->
	<bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
		<property name="configLocation" value="classpath:hibernate.cfg.xml" ></property>
	</bean>
	
	<!-- 核心事务管理器 -->
	<bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>

	
	<!-- 开启注解事务-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager" >
		<tx:attributes>
			<tx:method name="save*" isolation="READ_COMMITTED" propagation="REQUIRED" read-only="false" />
			<tx:method name="persist*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false" />
			<tx:method name="update*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false" />
			<tx:method name="modify*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false" />
			<tx:method name="delete*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false" />
			<tx:method name="remove*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false" />
			<tx:method name="get*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="true" />
			<tx:method name="find*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
		<!-- action -->
	<!-- 注意:Action对象作用范围一定是多例的.这样才符合struts2架构 -->
	<bean name="ProblemAction" class="CSU.OnlineJudge.Controller.ProblemAction" scope="prototype" >
		<property name="ProblemService" ref="ProblemService" ></property>
		<property name="CaseService" ref="CaseService" ></property>
		<property name="KnowledgeProblemService" ref="KnowledgeProblemService" ></property>
		<property name="KnowledgeService" ref="KnowledgeService" ></property>
	</bean>
	<bean name="CaseAction" class="CSU.OnlineJudge.Controller.CaseAction" scope="prototype" >
		<property name="CaseService" ref="CaseService" ></property>
	</bean>
	<bean name="WorkAction" class="CSU.OnlineJudge.Controller.WorkAction" scope="prototype" >
		<property name="WorkService" ref="WorkService" ></property>
		<property name="WorkProblemService" ref="WorkProblemService" ></property>
		<property name="CourseUserService" ref="CourseUserService" ></property>
		<property name="WorkCourseService" ref="WorkCourseService" ></property>
	</bean>
	<bean name="CourseAction" class="CSU.OnlineJudge.Controller.CourseAction" scope="prototype" >
		<property name="CourseService" ref="CourseService" ></property>
	</bean>
	<bean name="CourseUserAction" class="CSU.OnlineJudge.Controller.CourseUserAction" scope="prototype" >
		<property name="CourseUserService" ref="CourseUserService" ></property>
		<property name="CourseService" ref="CourseService" ></property>
		<property name="UserService" ref="UserService" ></property>
	</bean>
	<bean name="KnowledgeAction" class="CSU.OnlineJudge.Controller.KnowledgeAction" scope="prototype" >
		<property name="KnowledgeService" ref="KnowledgeService" ></property>
	</bean>
	<bean name="UserAction" class="CSU.OnlineJudge.Controller.UserAction" scope="prototype" >
		<property name="UserService" ref="UserService" ></property>
	</bean>
	<bean name="CodeAction" class="CSU.OnlineJudge.Controller.CodeAction" scope="prototype" >
		<property name="CodeService" ref="CodeService" ></property>
		<property name="UserService" ref="UserService" ></property>
	</bean>
	<bean name="KnowledgeProblemAction" class="CSU.OnlineJudge.Controller.KnowledgeProblemAction" scope="prototype" >
		<property name="KnowledgeProblemService" ref="KnowledgeProblemService" ></property>
		<property name="KnowledgeService" ref="KnowledgeService" ></property>
		<property name="ProblemService" ref="ProblemService" ></property>
	</bean>
	<bean name="WorkProblemAction" class="CSU.OnlineJudge.Controller.WorkProblemAction" scope="prototype" >
		<property name="ProblemService" ref="ProblemService" ></property>
		<property name="WorkProblemService" ref="WorkProblemService" ></property>
	</bean>
	<bean name="SubmissionAction" class="CSU.OnlineJudge.Controller.SubmissionAction" scope="prototype" >
		<property name="ProblemService" ref="ProblemService" ></property>
		<property name="SubmissionService" ref="SubmissionService" ></property>
	</bean>
	<bean name="ProblemResultAction" class="CSU.OnlineJudge.Controller.ProblemResultAction" scope="prototype" >
		<property name="ProblemResultService" ref="ProblemResultService" ></property>
		<property name="UserService" ref="UserService" ></property>
	</bean>
	<bean name="OriginAction" class="CSU.OnlineJudge.Controller.OriginAction" scope="prototype" >
		<property name="OriginService" ref="OriginService" ></property>
	</bean>
	<bean name="AnswerAction" class="CSU.OnlineJudge.Controller.AnswerAction" scope="prototype" >
		<property name="AnswerService" ref="AnswerService" ></property>
		<property name="ProblemService" ref="ProblemService" ></property>
	</bean>
	<bean name="CommentAction" class="CSU.OnlineJudge.Controller.CommentAction" scope="prototype" >
		<property name="CommentService" ref="CommentService" ></property>
	</bean>
	<bean name="WorkUserRecordAction" class="CSU.OnlineJudge.Controller.WorkUserRecordAction" scope="prototype" >
		<property name="WorkUserRecordService" ref="WorkUserRecordService" ></property>
	</bean>
	<bean name="WorkRecordAction" class="CSU.OnlineJudge.Controller.WorkRecordAction" scope="prototype" >
		<property name="WorkRecordService" ref="WorkRecordService" ></property>
		<property name="ProblemService" ref="ProblemService" ></property>
	</bean>
	
	<!-- service -->
 	<bean name="CaseService" class="CSU.OnlineJudge.Service.Impl.CaseServiceImpl" >
		<property name="cd" ref="CaseDAO" ></property>
	</bean>
	 <bean name="CodeService" class="CSU.OnlineJudge.Service.Impl.CodeServiceImpl" >
		<property name="cd" ref="CodeDAO" ></property>
	</bean>
	 <bean name="CourseService" class="CSU.OnlineJudge.Service.Impl.CourseServiceImpl" >
		<property name="cd" ref="CourseDAO" ></property>
	</bean>
	 <bean name="CourseUserService" class="CSU.OnlineJudge.Service.Impl.CourseUserServiceImpl" >
		<property name="cud" ref="CourseUserDAO" ></property>
	</bean>
	 <bean name="KnowledgeProblemService" class="CSU.OnlineJudge.Service.Impl.KnowledgeProblemServiceImpl" >
		<property name="kpd" ref="KnowledgeProblemDAO" ></property>
	</bean>
	 <bean name="KnowledgeService" class="CSU.OnlineJudge.Service.Impl.KnowledgeServiceImpl" >
		<property name="kd" ref="KnowledgeDAO" ></property>
	</bean>
	 <bean name="LogService" class="CSU.OnlineJudge.Service.Impl.LogServiceImpl" >
		<property name="ld" ref="LogDAO" ></property>
	</bean>
	 <bean name="ProblemService" class="CSU.OnlineJudge.Service.Impl.ProblemServiceImpl" >
		<property name="pd" ref="ProblemDAO" ></property>
	</bean>
	 <bean name="SubmissionService" class="CSU.OnlineJudge.Service.Impl.SubmissionServiceImpl" >
		<property name="sd" ref="SubmissionDAO" ></property>
	</bean>
	 <bean name="UserService" class="CSU.OnlineJudge.Service.Impl.UserServiceImpl" >
		<property name="ud" ref="UserDAO" ></property>
	</bean>
	 <bean name="WorkCaseRecordService" class="CSU.OnlineJudge.Service.Impl.WorkCaseRecordServiceImpl" >
		<property name="wcrd" ref="WorkCaseRecordDAO" ></property>
	</bean>
	 <bean name="WorkCourseService" class="CSU.OnlineJudge.Service.Impl.WorkCourseServiceImpl" >
		<property name="wcd" ref="WorkCourseDAO" ></property>
	</bean>
	 <bean name="WorkProblemService" class="CSU.OnlineJudge.Service.Impl.WorkProblemServiceImpl" >
		<property name="wpd" ref="WorkProblemDAO" ></property>
	</bean>
	 <bean name="WorkRecordService" class="CSU.OnlineJudge.Service.Impl.WorkRecordServiceImpl" >
		<property name="wrd" ref="WorkRecordDAO" ></property>
	</bean>
	 <bean name="WorkService" class="CSU.OnlineJudge.Service.Impl.WorkServiceImpl" >
		<property name="wd" ref="WorkDAO" ></property>
	</bean>
	 <bean name="WorkUserRecordService" class="CSU.OnlineJudge.Service.Impl.WorkUserRecordServiceImpl" >
		<property name="wurd" ref="WorkUserRecordDAO" ></property>
	</bean>
 	 <bean name="ProblemResultService" class="CSU.OnlineJudge.Service.Impl.ProblemResultServiceImpl" >
		<property name="prd" ref="ProblemResultDAO" ></property>
	</bean>
 	 <bean name="OriginService" class="CSU.OnlineJudge.Service.Impl.OriginServiceImpl" >
		<property name="od" ref="OriginDAO" ></property>
	</bean>
	<bean name="AnswerService" class="CSU.OnlineJudge.Service.Impl.AnswerServiceImpl" >
		<property name="ad" ref="AnswerDAO" ></property>
	</bean>
	<bean name="CommentService" class="CSU.OnlineJudge.Service.Impl.CommentServiceImpl" >
		<property name="cd" ref="CommentDAO" ></property>
	</bean>
	
	<!-- Dao -->
	<bean name="CaseDAO" class="CSU.OnlineJudge.DAO.Impl.CaseDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="CourseDAO" class="CSU.OnlineJudge.DAO.Impl.CourseDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="CourseUserDAO" class="CSU.OnlineJudge.DAO.Impl.CourseUserDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="KnowledgeDAO" class="CSU.OnlineJudge.DAO.Impl.KnowledgeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="KnowledgeProblemDAO" class="CSU.OnlineJudge.DAO.Impl.KnowledgeProblemDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="LogDAO" class="CSU.OnlineJudge.DAO.Impl.LogDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="ProblemDAO" class="CSU.OnlineJudge.DAO.Impl.ProblemDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="SubmissionDAO" class="CSU.OnlineJudge.DAO.Impl.SubmissionDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="UserDAO" class="CSU.OnlineJudge.DAO.Impl.UserDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="WorkDAO" class="CSU.OnlineJudge.DAO.Impl.WorkDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="WorkCaseRecordDAO" class="CSU.OnlineJudge.DAO.Impl.WorkCaseRecordDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="WorkCourseDAO" class="CSU.OnlineJudge.DAO.Impl.WorkCourseDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="WorkProblemDAO" class="CSU.OnlineJudge.DAO.Impl.WorkProblemDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="WorkRecordDAO" class="CSU.OnlineJudge.DAO.Impl.WorkRecordDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="WorkUserRecordDAO" class="CSU.OnlineJudge.DAO.Impl.WorkUserRecordDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="CodeDAO" class="CSU.OnlineJudge.DAO.Impl.CodeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="ProblemResultDAO" class="CSU.OnlineJudge.DAO.Impl.ProblemResultDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="OriginDAO" class="CSU.OnlineJudge.DAO.Impl.OriginDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="AnswerDAO" class="CSU.OnlineJudge.DAO.Impl.AnswerDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<bean name="CommentDAO" class="CSU.OnlineJudge.DAO.Impl.CommentDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	
</beans>