html{
    height: 100%;
}

body{
    height: 100%;
}

.peditor {
    margin-top: 52px;
    width: 35%;
    height: 125%;
    border: 1px solid lightgray;
    max-lines: 30;
    autoScrollEditorIntoView: true;
}

#menu{
    float: left;
    margin-top: -20px;
    height: 40px;
    width: 100%;
}

.bbtn{
    margin-top: 8px;
    margin-left: 15px;
}

#left{
    margin-top: 12px;
    float: left;
    width: 10%;
    height: 125%;
    background-color: #EDEDED;
}

.file{
    text-align: center;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pro_content{
	margin-top:30px;
	width:55%;
	height:200px;
	float:left;
	
}

#ptittle{
	font-size:20px;
	text-align: center;
	margin-bottom:10px;
	background-color:#E5F0F8;
	width:80%;
	padding:2%;
	margin-left:10%;
}

#pcontent{
	margin-left:10%;
	font-size:16px;
	width:80%;
	font-weight:bold;
	padding:5%;
	background-color:#E5F0F8;
	font-family:"Times New Roman",Georgia,Serif;
}


.pframe{
	font-size:16px;
	margin-bottom:10px;
	background-color:#E5F0F8;
	width:80%;
	margin-top:2%;
	padding:2%;
	margin-left:10%;
}