.toprow{
    background-color: #79a3d5;
    white-space: nowrap;
    color: white;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.center{
    background-color: #EEEEEE;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 10%;
}

.total_result{
	height:100px;
	font-size:24px;
	text-align:center;
	line-height:100px;
	background-color: #FFB800;
}

.result{
	width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 10%;
}

.case_result{
	margin-top:10px;
	border-radius:50%;
	width:100px;
	height:100px;
	font-size:24px;
	text-align:center;
	line-height:100px;
	float:left;
}

.ac{
	background-color: #5FB878;
}

.other{
	background-color: red;
}